
/*左侧菜单最外层div*/
.sider-wrap{
	height: 100%;
	transition: all 0.2s;
}

/*菜单顶部图标div*/
.menu-icon{
	height: 48px;
	width: 100%;
	background-color: #404040;
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*菜单顶部图片*/
.menu-icon img{
	height: 24px;
	width: 24px;
	margin: 0 auto;
	cursor : pointer ;
	transition: all 0.2s;
}

.menu-title{
	display: flex;
	flex-direction: row;
	align-items: center;
}

/*设置左侧菜单位置及大小*/
.menu-title span{
	margin-left: 70px;
}

/*设置左侧菜单图标大小及绝对定位*/
.icon{
	display: block;
	height: 24px;
	width: 24px;
	line-height: 24px;
	position: absolute;
	left: 8px;
}

/*菜单顶部小图片旋转动画*/
.rotate{
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); 	/* IE 9 */
	-moz-transform:rotate(90deg); 	/* Firefox */
	-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
	-o-transform:rotate(90deg); 	
}