
/*设置顶部菜单栏高度*/
.topbar{
	height: 60px;
}


/*设置内容区绝对定位*/
.content{
	flex: 1;
	height: 1000px;
	margin-top: 60px;
	overflow-y: hidden;
	display: flex;
	flex-direction: row;
}

.right-wrap{
	flex: 1;
	background-color: gray;
}